body {
  margin: 0;
  h1, p {
    margin-top: 0;
    margin-bottom: 0;
  }
  div {
    box-sizing: border-box;
  }
  ul {
    font-size: 20px;
  }
}

  .button {
    width: 95px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background: #e7e5ff;
    border: none;
    color: navy;
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &:hover {
      background: #f4f2ff;
    }

    .hook-button()
  }
.hook-button() {};


.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.hook-component();
.hook-component() {

  .header {
    width: 100%;
  }

  .button-group {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
  }

  .qualities {
    color: navy;
    margin-top: 0;
  }
}

.container {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  .hook-container();

}
.hook-container() {}

.layout {
  display: flex;
  width: 100%;
  .hook-layout()
}

.hook-layout() {
  &-header{
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

.hook-layout() {
  &-header {

    .layout-item {
      display: flex;
      flex-wrap: wrap;

      &:first-child {
        width: calc(100% / 5);
      }

      &:last-child {

        ul {
          margin-left: 1em;
          padding-left: 0;
          margin-top: 0;
          padding-top: 0;

          li:not(:last-child) {
            margin-bottom: 5px;
          }
          &:nth-last-of-type {
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.card {
  display: flex;
  width: 100%;
  height: auto;
  .hook-card();
}

.hook-card() {
  &-person-image {
    max-height: 250px;
    min-width: 130px;
    min-height: 130px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  &-data {
    flex-direction: column;
    align-items: left;

    &-title, &-description {
      text-align: left;
    }

    &-description {
      margin-top: auto;
      margin-bottom: auto;

      .person-phone {
        margin-bottom: 5px;
      }
    }
  }
}

.accordeon {
  &-list {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  &-trigger {
    text-decoration: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    background-image: linear-gradient(to bottom, #ccccff, #dad8ff, #e7e5ff, #f4f2ff, #ffffff);
    border-radius: 5px;
  }
  &-inner {
    li {
      margin-bottom: 10px;
      list-style-type: disc;

      ul {
        margin-top: 10px;

        li {
          list-style-type: circle;
        }
      }
    }
  }
  .hook-accordeon()
}
.hook-accordeon() {}


@media screen and (max-width: 641px){
  body {
    ul {
      font-size: 18px;
    }
  }

    .person-name {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .layout-header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .layout-item {
        padding-left: 0;
      }

      .layout-item:first-child {
        width: 100%;
        justify-content: center;

        .qualities {
          text-align: center;
        }

        .card {
          justify-content: center;

          &-person-image {
            max-width: 300px;
            max-height: 300px;
            margin-bottom: 20px;
            justify-content: center;
          }
        }
      }

      .layout-item:last-child {
        width: 100%;
        ul{
          padding-left: 0;
        }
        ul:last-of-type {
          padding-left: 20px;
        }
      }

      .card-data {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .card-data-title, .card-data-description {
          text-align: center;
        }
      }
    }

  .button-group {
    justify-content: center;
  }
}



