body {
  margin: 0;
}
body h1,
body p {
  margin-top: 0;
  margin-bottom: 0;
}
body div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body ul {
  font-size: 20px;
}
.button {
  width: 95px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  background: #e7e5ff;
  border: none;
  color: navy;
  border-radius: 3px;
}
.button:not(:last-child) {
  margin-right: 5px;
}
.button:hover {
  background: #f4f2ff;
}
.wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.header {
  width: 100%;
}
.button-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin-bottom: 10px;
}
img {
  max-width: 100%;
}
.qualities {
  color: navy;
  margin-top: 0;
}
.container {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.layout-header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
}
.layout-header .layout-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.layout-header .layout-item:first-child {
  width: calc(100% / 5);
}
.layout-header .layout-item:last-child ul {
  margin-left: 1em;
  padding-left: 0;
  margin-top: 0;
  padding-top: 0;
}
.layout-header .layout-item:last-child ul li:not(:last-child) {
  margin-bottom: 5px;
}
.layout-header .layout-item:last-child ul:nth-last-of-type {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
}
.card-person-image {
  max-height: 250px;
  min-width: 130px;
  min-height: 130px;
}
.card-person-image img {
  width: 100%;
  height: 100%;
}
.card-data {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}
.card-data-title,
.card-data-description {
  text-align: left;
}
.card-data-description {
  margin-top: auto;
  margin-bottom: auto;
}
.card-data-description .person-phone {
  margin-bottom: 5px;
}
.accordeon-list {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.accordeon-trigger {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccccff), color-stop(#dad8ff), color-stop(#e7e5ff), color-stop(#f4f2ff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ccccff, #dad8ff, #e7e5ff, #f4f2ff, #ffffff);
  background-image: -o-linear-gradient(top, #ccccff, #dad8ff, #e7e5ff, #f4f2ff, #ffffff);
  background-image: linear-gradient(to bottom, #ccccff, #dad8ff, #e7e5ff, #f4f2ff, #ffffff);
  border-radius: 5px;
}
.accordeon-inner li {
  margin-bottom: 10px;
  list-style-type: disc;
}
.accordeon-inner li ul {
  margin-top: 10px;
}
.accordeon-inner li ul li {
  list-style-type: circle;
}
@media screen and (max-width: 641px) {
  body ul {
    font-size: 18px;
  }
  .person-name {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .layout-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .layout-header .layout-item {
    padding-left: 0;
  }
  .layout-header .layout-item:first-child {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .layout-header .layout-item:first-child .qualities {
    text-align: center;
  }
  .layout-header .layout-item:first-child .card {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .layout-header .layout-item:first-child .card-person-image {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .layout-header .layout-item:last-child {
    width: 100%;
  }
  .layout-header .layout-item:last-child ul {
    padding-left: 0;
  }
  .layout-header .layout-item:last-child ul:last-of-type {
    padding-left: 20px;
  }
  .layout-header .card-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .layout-header .card-data .card-data-title,
  .layout-header .card-data .card-data-description {
    text-align: center;
  }
  .button-group {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */